*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.about-section{
    background: url('../img/luzzybrand.jpg') no-repeat left;
    background-size: 50%;
    background-color: #f0ecec;
    overflow: hidden;
}

.inner-container{
    width: 50%;
    float: right;
    background-color: #f0ecec;
    padding: 200px 100px 200px 100px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 900;
}

.text{
    font-size: 30px;
    color: #545454;
    line-height: 40px;
    text-align: justify;
    margin-bottom: 40px;
}

@media screen and (max-width:1500px){
    .inner-container{
        padding: 100px;
    }
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 60px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: cover;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
        background-color: rgba(78, 77, 77, 0.5);
    }
    .text{
        color: white;
    }
    .inner-container h1{
        color: white;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
    .text{
        font-size: 15px;
        line-height: 20px;
    }
}

/* shop container */
.shopcontainer{
    position: flex;
    margin-bottom: 5%;
    width : auto;
    height: flex;
    min-height: 50vh;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    border-radius: 5px; /* 5px rounded corners */
    margin-left: auto;
    margin-right: auto;
}

.prodcontainer{
    position: flex;
    margin-bottom: 2%;
    width : auto;
    height: flex;
    min-height: 30vh;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    border-radius: 5px; /* 5px rounded corners */
    margin-left: auto;
    margin-right: auto;
}

#nav-dropdown{
    font-weight: bold;
}

#navbrand{
    font-size : 25px;
}

/* build cake */

.tutbox{
    height: flex;
    margin-bottom: 20px;
}

.tutcard{
    position: flex;
    width : auto;
    height : flex;
    padding : 0px 15% 0px 15%;
    margin-left: auto;
    margin-right : auto;
    margin-bottom: 10px;
}

@media only screen and (max-width : 1024px){
    .tutcard{
        padding : 0px 40px 0px 20px;
    }
}

@media only screen and (max-width : 768px){
    .tutcard{
        padding : 0px 5% 0px 5%;
    }
}

.tutbuild{
    height : flex;
    background-color: rgb(61, 181, 255);
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding : 5%;
}

.tutimg{
    width: 100%;
    height: 100%;
}

.bot-dropdown{
    position: flex;
    bottom: 0;
    width : flex;
}
